<a href="https://colab.research.google.com/github/cod3astro/kaggle_ML_competition/blob/main/collab_bank_dateset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import joblib

In [4]:
df = pd.read_csv('train.csv', index_col='id')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
id,,,,,,,,,,,,,,,,,
0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [6]:
df.shape

(750000, 17)

In [7]:
for col in df.columns:
  unique_values = df[col].unique()
  print(f"{col} {len(unique_values)} unique:")
  print(unique_values)

age 78 unique:
[42 38 36 27 26 24 39 50 46 32 37 57 33 47 35 49 77 40 54 56 51 30 67 58
 59 45 43 29 48 31 28 34 60 52 41 81 23 62 53 72 55 25 44 61 63 69 75 71
 64 22 83 70 80 21 65 74 68 19 73 66 79 20 84 86 76 18 82 78 87 85 88 94
 93 89 92 95 90 91]
job 12 unique:
['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']
marital 3 unique:
['married' 'single' 'divorced']
education 4 unique:
['secondary' 'primary' 'tertiary' 'unknown']
default 2 unique:
['no' 'yes']
balance 8217 unique:
[    7   514   602 ... 13023  4003  8218]
housing 2 unique:
['no' 'yes']
loan 2 unique:
['no' 'yes']
contact 3 unique:
['cellular' 'unknown' 'telephone']
day 31 unique:
[25 18 14 28  3 20 21 31  4  8  5 24 11 12 26 30  6 10 19 17  2 13 29 23
 27  7  9 16  1 22 15]
month 12 unique:
['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']
duration 1760 unique:
[ 117  185  111 ... 4817 2455 2040]
campaign 52 unique:
[ 3  1  2 25  5  7  4 11  6  9  8 16 10 15 12 13 19 17 14 22 23 34 18 29
 24 30 21 27 36 28 20 35 32 26 40 37 31 33 63 51 46 39 43 48 41 44 38 42
 55 50 58 45]
pdays 596 unique:
[ -1 175  91 181 252  90 211 183  87 168 172 364 266 122  94 196 324  92
 348  97 173 190 271 374 185 366 339 204 399 340  88 154  24 188 370 150
 365 101 133 355  83  99 247 259 350 189  95 180 367 371 265 151 363  85
  86 347 131 184 344 459 352 360  96 104 334 186 135 362  40 280 361 178
 202 244 776 109 351 293 182 192 353 356 187 369 191 170 255 317 174 321
 169 177 105 315 176 346 132 330 287  70 368 381 478 262 342 157 254 331
 171 149 153  89 234 107   8  93 322 253 103 245 251 127 336 357 258 226
 197 140 250 354 102 299 193 337 111 179 343   2 286 205 264 267 302 142
 148 325  81 461 195 274 308 508 345 440 586 358 222 332 314 200 263 272
 305 289 298  98 238 294 160 273 359 113 511 165 288 120 115   9 301   1
 155 167 300 118 270 329 462 281 198 414 328 341  79 208 296 123 248 145
 526 112 326 335 146 147  84 327 349 373 117 333 201  71 206  82 313 203
 108  36 392  74 199 139 454 316 257 306   7 194 241 385 394 106 310 323
 129 156 126 166 121 275 318  33 260 303 256 312 116 311   5 279 771 212
 141 119 842 292 239 110 210 124 295 134 391 412 164 456 128 521 463 114
 100 518 268   6 130 728  78 207 307 320  52 787 338 209 152 232  77 495
 136  29 425  57 772 249 261  13 828 240 269 297 290 397 449 555 284 246
 216 850  10 235 278 380 372 674 230 717 484 242  80 386 760 319 446 485
 282 460 159 557 138 304 231 393  25 144 277 213 455 221 158 433 490 687
 384 383 285  67 616 162 515 225 390 544 491 562 378 584 214 551 547 504
 223 524 536  76 227 442 143 558 579 472 486 656 626 831 161 651  47 854
 444 276  27 389 428 309 476  55 774 792 243 439 407 587  28 457 742 535
  49 561  58  63 237 422 388 163 838  73 395 413 759  35 426  31 379 217
 458 553 503 488 543  41  42 578  20 447 291 474  50  14 480 469 686 377
 466 574  38 427 479 430 633 435 532 215  64  56 769 471 563 670 592 805
 283 533 746 431 432 404 224 663  72 701 229 415 409 786 559 477 778 529
 137 756 500  34 690 779 482 767 531 548  48 825 450 437  60 417 475 835
 595 791 603 489 436 398 411 434 493 375  61 683  12  15 233 804  69  44
 405 467 527 228 492 473 784 585 671 541  43  66 775  37 826   4 125 401
 617 542 236 745 481 794  39  68 528 537 761 648 403 589 514  17 576  19
 583  62   3 748 516 808 647 821 445 782 517 594  75 783 692 556 424 219
 419 530   0 387 665 470 421  22  26 591 795 757 645 871 614 420 735 464
 546 749 741 658 655  21  53 550 569 220 667 410 818 634 685 661 611 714
  54 376]
previous 50 unique:
[  0   3   4   2   1   5   6  10  11   9   7  14  13  17   8  24  23  37
  12  27  25  38  15  16  29  19  20  32  55  18  34  22  26  21  28  35
  39  51  31  43  30  36  33  41  40  47  46 200  48  58]
poutcome 4 unique:
['unknown' 'other' 'failure' 'success']
y 2 unique:
[0 1]