<a href="https://colab.research.google.com/github/cod3astro/kaggle_ML_competition/blob/main/collab_bank_dateset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import joblib

In [2]:
df = pd.read_csv('train.csv', index_col='id')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
id,,,,,,,,,,,,,,,,,
0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [3]:
df.shape

(750000, 17)

In [4]:
df.isnull().any().any()

np.False_

In [5]:
skip_columns = ['age', 'pdays', 'duration']
for col in df.columns:
  unique_values = df[col].unique()
  if col in skip_columns:
    print(f"{col} {len(unique_values)} unique:")
  else:
    print(f"{col} {len(unique_values)} unique:")
    print(unique_values)

age 78 unique:
job 12 unique:
['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']
marital 3 unique:
['married' 'single' 'divorced']
education 4 unique:
['secondary' 'primary' 'tertiary' 'unknown']
default 2 unique:
['no' 'yes']
balance 8217 unique:
[    7   514   602 ... 13023  4003  8218]
housing 2 unique:
['no' 'yes']
loan 2 unique:
['no' 'yes']
contact 3 unique:
['cellular' 'unknown' 'telephone']
day 31 unique:
[25 18 14 28  3 20 21 31  4  8  5 24 11 12 26 30  6 10 19 17  2 13 29 23
 27  7  9 16  1 22 15]
month 12 unique:
['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']
duration 1760 unique:
campaign 52 unique:
[ 3  1  2 25  5  7  4 11  6  9  8 16 10 15 12 13 19 17 14 22 23 34 18 29
 24 30 21 27 36 28 20 35 32 26 40 37 31 33 63 51 46 39 43 48 41 44 38 42
 55 50 58 45]
pdays 596 unique:
previous 50 unique:
[  0   3   4   2   1   5   6  10  11   9   7  14  13  17   8  24  23  37
  12  27  25  38  15  16  29  19  20  32  55  18  34  22  26  21  28  35
  39  51  31  43  30  36  33  41  40  47  46 200  48  58]
poutcome 4 unique:
['unknown' 'other' 'failure' 'success']
y 2 unique:
[0 1]

In [6]:
df['y'].value_counts()

y
0    659512
1     90488
Name: count, dtype: int64