<a href="https://colab.research.google.com/github/cod3astro/kaggle_ML_competition/blob/main/collab_bank_dateset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import joblib

In [7]:
df = pd.read_csv('trainBankDataset.csv', index_col='id')
df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [8]:
df.shape

(750000, 18)

In [9]:
df.isnull().any().any()

np.False_

In [10]:
df.columns

Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [11]:
skip_columns = ['age', 'pdays', 'duration']
for col in df.columns:
  unique_values = df[col].unique()
  if col in skip_columns:
    print(f"{col} {len(unique_values)} unique:")
  else:
    print(f"{col} {len(unique_values)} unique:")
    print(unique_values)

id 750000 unique:
[     0      1      2 ... 749997 749998 749999]
age 78 unique:
job 12 unique:
['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']
marital 3 unique:
['married' 'single' 'divorced']
education 4 unique:
['secondary' 'primary' 'tertiary' 'unknown']
default 2 unique:
['no' 'yes']
balance 8217 unique:
[    7   514   602 ... 13023  4003  8218]
housing 2 unique:
['no' 'yes']
loan 2 unique:
['no' 'yes']
contact 3 unique:
['cellular' 'unknown' 'telephone']
day 31 unique:
[25 18 14 28  3 20 21 31  4  8  5 24 11 12 26 30  6 10 19 17  2 13 29 23
 27  7  9 16  1 22 15]
month 12 unique:
['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']
duration 1760 unique:
campaign 52 unique:
[ 3  1  2 25  5  7  4 11  6  9  8 16 10 15 12 13 19 17 14 22 23 34 18 29
 24 30 21 27 36 28 20 35 32 26 40 37 31 33 63 51 46 39 43 48 41 44 38 42
 55 50 58 45]
pdays 596 unique:
previous 50 unique:
[  0   3   4   2   1   5   6  10  11   9   7  14  13  17   8  24  23  37
  12  27  25  38  15  16  29  19  20  32  55  18  34  22  26  21  28  35
  39  51  31  43  30  36  33  41  40  47  46 200  48  58]
poutcome 4 unique:
['unknown' 'other' 'failure' 'success']
y 2 unique:
[0 1]

In [12]:
df['job'] = df['job'].str.replace(r'[^A-Za-z0-9 ]', '', regex=True)

In [13]:
df['job'].unique()

array(['technician', 'bluecollar', 'student', 'admin', 'management',
       'entrepreneur', 'selfemployed', 'unknown', 'services', 'retired',
       'housemaid', 'unemployed'], dtype=object)

In [14]:
df['y'].value_counts(normalize=True)

y
0    0.879349
1    0.120651
Name: proportion, dtype: float64

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         750000 non-null  int64
 1   age        750000 non-null  int64
 2   job        750000 non-null  object
 3   marital    750000 non-null  object
 4   education  750000 non-null  object
 5   default    750000 non-null  object
 6   balance    750000 non-null  int64
 7   housing    750000 non-null  object
 8   loan       750000 non-null  object
 9   contact    750000 non-null  object
 10  day        750000 non-null  int64
 11  month      750000 non-null  object
 12  duration   750000 non-null  int64
 13  campaign   750000 non-null  int64
 14  pdays      750000 non-null  int64
 15  previous   750000 non-null  int64
 16  poutcome   750000 non-null  object
 17  y          750000 non-null  int64
dtypes: int64(9), object(9)
memory usage: 103.0+ MB

In [17]:
df.describe()

,id,age,balance,day,duration,campaign,pdays,previous,y
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,374999.500000,40.926395,1204.067397,16.117209,256.229144,2.577008,22.412733,0.298545,0.120651
std,216506.495284,10.098829,2836.096759,8.250832,272.555662,2.718514,77.319998,1.335926,0.325721
min,0.000000,18.000000,-8019.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,187499.750000,33.000000,0.000000,9.000000,91.000000,1.000000,-1.000000,0.000000,0.000000
50%,374999.500000,39.000000,634.000000,17.000000,133.000000,2.000000,-1.000000,0.000000,0.000000
75%,562499.250000,48.000000,1390.000000,21.000000,361.000000,3.000000,-1.000000,0.000000,0.000000
max,749999.000000,95.000000,99717.000000,31.000000,4918.000000,63.000000,871.000000,200.000000,1.000000

In [18]:
copy_df = df.copy()
copy_df = copy_df.replace('unknown', np.nan)

In [19]:
# Importing libraries
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, f1_score, confusion_matrix, roc_auc_score
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE
from scipy.stats import pointbiserialr, chi2_contingency
from imblearn.pipeline import Pipeline as ImbPipeline

In [20]:
features = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
            'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome']
target = 'y'
X, y = df[features], df[target]
x, Y = copy_df[features], copy_df[target]

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=42)

for col in X.select_dtypes('object'):
    X.loc[:, col], _ = X[col].factorize()
discrete_features = X.dtypes == int
y, _ = pd.factorize(y)

def make_mi_scores(X, y, discrete_features):
    mi_scores = mutual_info_classif(X, y, discrete_features=discrete_features)
    mi_scores = pd.Series(mi_scores, name='MI SCORES', index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X, y, discrete_features)
mi_scores

duration     0.155544
housing      0.120291
balance      0.074491
month        0.044565
education    0.040789
contact      0.037769
poutcome     0.029037
pdays        0.028790
job          0.027541
marital      0.019971
age          0.014846
loan         0.012218
previous     0.011776
day          0.009027
campaign     0.004859
default      0.000771
Name: MI SCORES, dtype: float64

In [21]:
categorical_col = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
numerical_col = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
# ff
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k-1)*(r-1)) / (n-1))
    rcorr = r - ((r-1)**2)/(n-1)
    kcorr = k - ((k-1)**2)/(n-1)
    return np.sqrt(phi2corr / min((kcorr-1), (rcorr-1)))

cramers_scores = {}
for col in categorical_col:
    cramers_scores[col] = cramers_v(df[col], df[target])

X_num = df[numerical_col]
y = df[target]
mi_scores = mutual_info_classif(X_num, y, discrete_features=False)
mi_scores_dict = dict(zip(numerical_col, mi_scores))

all_scores = {**cramers_scores, **mi_scores_dict}
all_scores_series = pd.Series(all_scores).sort_values(ascending=False)

print("\n📊 Combined Feature Correlation Report with Target:")
print(all_scores_series)

📊 Combined Feature Correlation Report with Target:
poutcome     0.308984
month        0.263997
contact      0.159905
job          0.157259
duration     0.154571
housing      0.153581
marital      0.090983
education    0.089479
loan         0.081625
balance      0.069819
default      0.030096
pdays        0.029724
campaign     0.024693
age          0.018625
day          0.013848
previous     0.011741
dtype: float64

In [22]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])

decisionModel = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('classifier', DecisionTreeClassifier(random_state=42))
    ]
)
decisionModel.fit(train_X, train_y)
decision_y_preds = decisionModel.predict(val_X)
print('Accuracy', accuracy_score(val_y, decision_y_preds))

Accuracy 0.9071413333333334

In [23]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])

decisionModel = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('classifier', DecisionTreeClassifier(random_state=42))
    ]
)
decisionModel.fit(train_X, train_y)
decision_y_preds = decisionModel.predict(val_X)
print('Accuracy', accuracy_score(val_y, decision_y_preds))

Accuracy 0.9056746666666666

In [24]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])

decisionModel = ImbPipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('smote', SMOTE(random_state=42)),
        ('classifier', DecisionTreeClassifier(random_state=42))
    ]
)
decisionModel.fit(train_X, train_y)
decision_y_preds = decisionModel.predict(val_X)
print('Accuracy', accuracy_score(val_y, decision_y_preds))

Accuracy 0.9048586666666667

In [25]:
education_order = [["primary", "secondary", "tertiary", "unknown"]]

edu_pipeline = Pipeline(steps=[
    ("encoder", OrdinalEncoder(categories=education_order))
])
other_cats = [col for col in categorical_col if col != "education"]

preprocessor = ColumnTransformer(
    transformers=[
        ("education", edu_pipeline, ["education"]),
        ("cat", OneHotEncoder(handle_unknown="ignore"), other_cats),
        ("num", "passthrough", numerical_col)
    ]
)
decisionModel = Pipeline(
    steps=[
        ("preprocessor", preprocessor),
        ("classifier", DecisionTreeClassifier(random_state=42))
    ]
)
decisionModel.fit(train_X, train_y)
decision_y_preds = decisionModel.predict(val_X)
print("Accuracy:", accuracy_score(val_y, decision_y_preds))

Accuracy: 0.907584

In [26]:
education_order = [['primary', 'secondary', 'tertiary', 'unknown']]

edu_pipeline = Pipeline(steps=[
    ('encoder', OrdinalEncoder(categories=education_order))
])
other_cats = [col for col in categorical_col if col != 'education']

preprocessor = ColumnTransformer(
    transformers=[
        ('education', edu_pipeline, ['education']),
        ('cat', OneHotEncoder(handle_unknown='ignore'), other_cats),
        ('num', 'passthrough', numerical_col)
    ])

decision_model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', DecisionTreeClassifier(random_state=42, max_depth=14))
])
decision_model.fit(train_X, train_y)
decision_y_preds = decision_model.predict(val_X)
print('Accuracy', accuracy_score(val_y, decision_y_preds))

Accuracy 0.925872

In [27]:
education_order = [['primary', 'secondary', 'tertiary', 'unknown']]

edu_pipeline = Pipeline(steps=[
    ('encoder', OrdinalEncoder(categories=education_order))
])
other_cats = [col for col in categorical_col if col != 'education']

preprocessor = ColumnTransformer(
    transformers=[
        ('education', edu_pipeline, ['education']),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])

random_model = ImbPipeline(steps=[
    ('preprocessor', preprocessor),
    ('smote', SMOTE(random_state=42)),
    ('classifier', RandomForestClassifier(random_state=42, max_depth=14, n_estimators=200))
])
random_model.fit(train_X, train_y)
random_preds = random_model.predict(val_X)
print("Accuracy: ", accuracy_score(val_y, random_preds))

Accuracy:  0.9215093333333333

In [28]:
education_order = [['primary', 'secondary', 'tertiary', 'unknown']]

edu_pipeline = Pipeline(steps=[
    ('encoder', OrdinalEncoder(categories=education_order))
])
other_cats = [col for col in categorical_col if col != 'education']

preprocessor = ColumnTransformer(
    transformers=[
        ('education', edu_pipeline, ['education']),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])

xg_model = ImbPipeline(steps=[
    ('preprocessor', preprocessor),
    ('smote', SMOTE(random_state=42)),
    ('classifier', XGBClassifier(random_state=42, max_depth=14, n_estimators=200))
])
xg_model.fit(train_X, train_y)
random_preds = xg_model.predict(val_X)
print("Accuracy: ", accuracy_score(val_y, random_preds))

Accuracy:  0.933408